.subscribe{
    background:url(../../img/index/group.jpg)no-repeat 50% 0px fixed;
    background-size:contain;
    text-align:center;
    padding:10em 0;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}